@charset "utf-8";
/* CSS Document */
html, body, ul, li, h1, h2, h3, h4, h5, h6, fieldset, legend {padding:0; margin:0;}
body {font-family: Microsoft YaHei;margin:0 auto;}
ul,li {list-style-type:none; text-transform:capitalize;}
input,textarea{font-family: Microsoft YaHei;}
.clear {clear:both; *display:inline;}
a{text-decoration: none;color:#000;}
img{border:none;vertical-align:middle;}
p{margin: 0;}
.fl{float:left;}
.fr{float:right;}
.clearfix:after {
	visibility:hidden;
	display:block;
	font-size:0;
	content:" ";
	clear:both;
	height:0
}
.topBox{
	background:url("../images/topbg.jpg")/*tpa=http://www.leaderbb.com/templets/default/images/topbg.jpg*/;
	padding-top: 10px;
}
.top1{
	width:1190px;
	margin:0 auto;
}
.topL{
	float:left;
}
.topR{
	float:right;
}
*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
body{font:12px/180% microsoft yahei;}
/* menu */
.menu{height:50px;background:#8a6b57;position:relative;}
.menu .nav{width:1190px;height:80px;margin:0 auto;}
.menu .nav li{float:left;font-size:14px;}
.menu .nav li a{float:left;display:block;height:50px;padding:0 27px;line-height:50px;color:#e6d6c6;text-decoration:none;position:relative;overflow:hidden;}
.menu .nav li a:hover,.menu .nav li a.current{background:#a97657;color:#fff;}
.menu .nav li .box{z-index:9999;width:100%;height:35px;position:absolute;top:50px;background:rgba(206, 190, 175, 0.7)!important;filter:Alpha(opacity=70);display:none;}
.menu .nav li .box a{display:block;height:35px;float:left;color:#675144;line-height:35px;border:none;background:none;padding:0;width:118px;text-align:center;}
.menu .nav li .box a:hover{text-decoration:underline;color:#a97657}
.boxPos{}
/* gg */
.gg{height:500px;position:relative;z-index:1;overflow:hidden;margin:0 auto;background:#d3d3d3 url("../images/loading.jpg")/*tpa=http://www.leaderbb.com/templets/default/images/loading.jpg*/ repeat-x;}
.ggLoading,.ggLoading2{background-image:url("../images/nav.png")/*tpa=http://www.leaderbb.com/templets/default/images/nav.png*/;}
.ggLoading{position:absolute;left:40%;top:200px;width:325px;text-align:center;height:56px;background-position:0 -55px;background-repeat:no-repeat;line-height:56px;color:#9c9c9c;}
.ggLoading2{width:330px;height:56px;background-position:213px 0px;background-repeat:no-repeat;}
.ggLoading em{font-weight:bold;font-size: 18px;}
.ggs{width:200%;height:500px;left:-50%;top:0;position:absolute;}
.ggBox{width:1920px;height:500px;margin:0 auto;}
.ggBox a{display:block;width:1920px;height:500px;position:absolute;z-index:1;opacity:0.1;}
.ggBox img{display:block;width:1920px;height:500px;}
.ggb{position:absolute;width:100%;left:0;bottom:0;height:15px;z-index:4;background-repeat:repeat-x;background-position:50% -40px;bottom: 110px;}
.ggBtns{height:15px;margin:0 auto;}
.ggBtns a{margin: 0 3px 0 3px;opacity:0.7;border-radius: 15px; background-color:#fff;float:left;display:block;width:15px;height:15px;text-align:center;color:#848380;font-size:14px;line-height:40px;background-position:0 10px;position:relative;outline:none;background-repeat:no-repeat;cursor:pointer;text-decoration:none;}
.ggBtns a em{display:block;width:15px;height:15px;margin:0 auto;overflow:hidden;font-style:normal;}
.ggBtns a:hover{color:#e7e7e7;}
.ggBtns a:focus{outline:none;}
.ggBtns a.current{color:#e7e7e7;background-color:#fff;opacity:1;}
.ggb,.ggBtns a{}
/* threePic */
.banner{position:relative;height:600px;}
.threePic{position:absolute;width:1095px;margin:0 auto;top:390px;z-index:1;}
.threePic li{float:left;}
.midArea{width:1190px;margin:0 auto;}
.aArea{border: 1px solid #CECECE;}
.areaLine{background:url("../images/aLine.jpg")/*tpa=http://www.leaderbb.com/templets/default/images/aLine.jpg*/;height:40px;margin-top:12px;}
.areaLine a{float:right;line-height:40px;margin-right:35px;color:#a97657;}
.areaLine a:hover{color:#675144;text-decoration: underline;}
.aArea1 div{float:left;}
.aArea1{width:1140px;margin:0 auto;margin-top:12px;}
.aArea1 img{border: 1px solid #CECECE;vertical-align: middle;}
.aArea1l{width:262px;margin-right:12px;}
.aArea1M{width:592px;margin-right:12px;}
.aArea1R{width:262px;}
.aArea1li{margin-bottom:12px;}
.aArea2 li{float:left;width:372px;}
.aArea2{width:1140px;margin:12px auto;}
.aArea2 img{border: 1px solid #CECECE;vertical-align: middle;}
.mr12{margin-right:12px;}
.lcArea{margin-top:30px;}
.moreRoom{width:130px;height:30px;border-radius:25px;background-image: -webkit-linear-gradient(top, #e6c777, #b08738);display: block;text-align:center;line-height:30px;font-size:15px;color:#fff;}
.moreRoom:hover{background:#e0c171;}
.breaLine{background:url("../images/bLine.jpg")/*tpa=http://www.leaderbb.com/templets/default/images/bLine.jpg*/;height:40px;margin-top:12px;}
.breaLine a{float:right;line-height:40px;margin-right:35px;color:#a97657;}
.breaLine a:hover{color:#675144;text-decoration: underline;}
.mt40{margin-top:40px;}
.bArea{width:1140px;margin:12px auto;}
.bArea img{border: 1px solid #CECECE;}
.bArea div{float:left;}
.roomArea{background-color:#8b5910;height:155px;width:300px;border: 1px solid #8b5910;}
.bAreal{width:302px;margin-right:12px;}
.bAreaM{width:510px;margin-right:12px;position:relative;}
.bAreaR{width:302px;}
.bAreaR li{width:302px;position:relative;}
.bTitle{position:absolute;bottom:0px;background: rgba(139, 89, 16, 0.6)!important;filter: Alpha(opacity=70);width:100%;height:40px;line-height:40px;color:#ffe195;text-align:center;font-size:14px;}
.roomArea img{border:none;}
.roomAreaT{width:250px;margin:0 auto;float:none!important;margin-top: 20px;}
.roomAreaBtn{width:130px;margin:0 auto;float:none!important;margin-top: 10px;}
.bAreaM:hover .bTitle{text-decoration:underline;color:#5b3600;}
.bAreaR li:hover .bTitle{text-decoration:underline;color:#5b3600;}
.toduibi{margin-top:20px;}
.anliArea{width:672px;margin-right:12px;margin-top:20px;}
.newsArea{width:506px;margin-top:20px;}
.anliAreaT{background:#e5e1e0;height:35px;position:relative;line-height:35px;}
.anliAreaT img{position:absolute;bottom:3px;bottom: 0px;}
.anliAreaT span{padding-left:160px;font-size:16px;color:#bb942f;}
.anliAreaT a{float:right;margin-right:35px;color:#bb942f;}
.anliAreaT a:hover{color:#a97657;text-decoration:underline;}
.anliBox{width:654px;height:360px;border: 1px solid #CECECE;margin-top:15px;background:#e5e1e0;padding:8px;}
.newsBox{width:488px;height:360px;border: 1px solid #CECECE;padding:8px;margin-top:15px;background:#e5e1e0;}
.newsBox li div{float:left;}
.newsBox li:after {
	visibility:hidden;
	display:block;
	font-size:0;
	content:" ";
	clear:both;
	height:0
}
.newsBox li{border-bottom:1px solid #fff;margin-top:5px;padding-bottom:5px;}
.indexNewsT{padding-top:10px;}
.indexNewsP{width:150px;border: 1px solid #bb942f;}
.indexNewsP img{width:150px;height:80px;}
.indexNewsT{width:336px;}
.indexNewsT p{padding-left:12px;color:#bb942f;font-size:13px;}
.indexNewsD{float:right;padding-right:28px;}
.newsBox li:hover .indexNewsT p{color:#a97657;text-decoration: underline;}
.zcQA{margin-top:20px;width:589px;margin-right:12px;}
.zcQA li{cursor:pointer;float:left;width:146.5px;height:40px;background:url("../images/zcQA.jpg")/*tpa=http://www.leaderbb.com/templets/default/images/zcQA.jpg*/;line-height:40px;text-align:center;font-size:15px;color:#000;border-right:1px solid #d9a75e;}
.szzx{margin-top:20px;width:571px;height:385px;border: 1px solid #CECECE;padding:8px;}
.QAsel{background:url("../images/QAsel.jpg")/*tpa=http://www.leaderbb.com/templets/default/images/QAsel.jpg*/!important;}
.QAsel a{color:#fff!important;}
.zcQAArea{width:571px;height:330px;border: 1px solid #CECECE;margin-top:15px;padding:8px;}
.zcQAArea p{margin-top:5px;font-size:14px;line-height:25px;}
.zcQA li a{width: 146.5px;height: 40px;display:block;}
.szzxNewW{width:419px;}
.szzxNewW p{font-size:14px;padding-left:5px;margin-top:10px;}
.szzxLine{border-bottom:1px solid #CECECE;padding-bottom:8px;}
.szzxNewList{margin-top:8px;}
.szzxNewList li{background:url("../images/indexNew.png")/*tpa=http://www.leaderbb.com/templets/default/images/indexNew.png*/ no-repeat;padding-left:25px;line-height:20px;font-size:14px;margin:15px 0;border-bottom: 1px solid #CECECE;padding-bottom:8px;}
.szzxNewList li span{float:right;padding-right:8px;}
.szzxNewList p a{float:right;padding-right:15px;color: #bb942f;}
.szzxNewList p a:hover{color: #a97657;text-decoration: underline;}
.szzxNewList a:hover{color: #a97657;text-decoration: underline;}
#focus { width: 654px; height: 360px; clear: both; overflow: hidden; position: relative; float: left; }
#focus ul { width: 654px; height: 360px; float: left; position: absolute; clear: both; padding: 0px; margin: 0px; }
#focus ul li { float: left; width: 654px; height: 360px; overflow: hidden; position: relative; padding: 0px; margin: 0px; }
#focus .preNext { width: 327px; height: 360px; position: absolute; top: 0px; cursor: pointer; }
#focus .pre { left: 0; background: url("../images/sprite.png")/*tpa=http://www.leaderbb.com/templets/default/images/sprite.png*/ no-repeat left center; }
#focus .next { right: 0; background: url("../images/sprite1.png")/*tpa=http://www.leaderbb.com/templets/default/images/sprite1.png*/ no-repeat right center; }
.bottom3P{margin-top:20px;}
.bottom3P img{width:100%;}
.bottom3P li{float:left;border: 1px solid #CECECE;padding:12px 0;margin-right:12px;}
.footkf{background:#f4e3d9;width:100%;height:75px;margin-top:80px;position:relative;}
.footkfP{width:1190px;position:absolute;bottom:0;}
.footMenu{width:100%;height:40px;background:#8a6b57;}
.footMenu ul{width:1190px;margin:0 auto;}
.footMenu ul li{float:left;line-height:40px;padding: 0 30px;font-size:14px;}
.footMenu ul li a{color:#e6d6c6;}
.footMenu ul li a:hover{text-decoration: underline;color:#e6d6c6;}
.footerB{background: #f4e3d9;width: 100%;height:190px;padding-top:20px;}
.footerBA{width: 1190PX;margin:0 auto;}
.footerBA ul{float:left;width:150px;}
.footerBA ul li{padding:3px 0;}
.footerBA ul li a{color:#8a6b57;font-size:14px;}
.footerBA ul li a:hover{text-decoration: underline;}
.footT a{font-weight:bold;font-size:15px!important;text-decoration:none!important;cursor:default!important;}
.footerQrcode{margin-left:200px;}
.footerQrcode img{width:150px;}
.didian{width:1190px;margin:0 auto;color:#8a6b57;font-weight:bold;font-size:14px;}
.footCopy{height:50px;text-align:center;line-height:50px;}
.mid{width:1190px;margin:0 auto;margin-top:20px;}
.midL{padding:8px;float:left;width:196px;border: 1px solid #CECECE;border-top-left-radius:5px;border-bottom-left-radius:5px;box-shadow:0 0 5px #CECECE;margin-right:12px;}
.midR{padding-bottom:15px;float:left;width:962px;border: 1px solid #CECECE;border-top-right-radius:5px;border-bottom-right-radius:5px;box-shadow:0 0 5px #CECECE;}


.subNav{font-weight: bold;padding-left:20px;background:url("../images/jiantou1.jpg")/*tpa=http://www.leaderbb.com/templets/default/images/jiantou1.jpg*/ no-repeat;height:40px;margin-bottom:2px;display:block;font-size:16px;color:#814d00;line-height:40px;}
.subNav1{font-weight: bold;padding-left:20px;background:url("../images/leftBG.jpg")/*tpa=http://www.leaderbb.com/templets/default/images/leftBG.jpg*/ no-repeat;height:40px;margin-bottom:2px;display:block;font-size:16px;color:#814d00;line-height:40px;}
.leftD{background:url("../images/jiantou2.jpg")/*tpa=http://www.leaderbb.com/templets/default/images/jiantou2.jpg*/ no-repeat;}
.navContent li{padding-left:22px;height:30px;font-size:14px;line-height:30px;border-bottom: 1px solid #CECECE;background:#ab8720;margin-bottom: 2px;}
.navContent li a{color:#fff;width:183px;height:31px;display:block;}
.navContent li a:hover{text-decoration:underline;}
.leftB{font-weight: bold;padding-left:20px;background:url("../images/moreArea.jpg")/*tpa=http://www.leaderbb.com/templets/default/images/moreArea.jpg*/ no-repeat;height:40px;margin-bottom:2px;display:block;font-size:16px;color:#814d00;line-height:40px;}
.leftQA{margin-top:15px;border: 1px solid #E6E6E6;}
.midLHead{border: 1px solid #CECECE;box-shadow: 0 0 5px #CECECE;padding:5px;border-radius:5px;}
.midLHead div{font-weight:bold;font-size:17px;color:#fff;padding-left:22px;line-height:38px;background:url("images/leftTop.jpg")/*tpa=http://www.leaderbb.com/templets/default/css/images/leftTop.jpg*/ no-repeat;height:40px;}
.leftQA ul{margin:8px 0;}
.leftQA ul li{font-size:13px;line-height:27px;}
.leftQA ul li a{color:#814d00;}
.leftQA ul li a:hover{color:#FF9800;text-decoration:underline;}
.leftQA ul li:before{content:"· ";color: #FF9800;padding-left:13px;font-size:14px;}
.mt8{margin-top:8px;}
.lianxi1{text-align:center;margin-top:15px;}
.lianxi2{font-family: Constantia,Georgia;text-align:center;color:#e6aa3a;font-size:22px;margin-top:10px;margin-bottom:20px;}
.lianxi3  p{text-align:center;background:#e6aa3a;width: 130px;height:25px;margin:0 auto;line-height:25px;margin-top:6px;margin-bottom:15px;color:#fff;}
.lianxi3 a:hover{text-decoration:underline;color:#fff;}
.catalog{width:930px;margin:0 auto;margin-top:15px;}
.catalogN{margin-right:4px;background:#8b6a57;color:#fff;font-size:13px;padding-left:12px;height:28px;line-height:28px;width:160px;border-top-left-radius:5px;border-bottom-left-radius:5px;}
.catalog div{float:left;}
.catalogR{background:#e4e6e5;height:28px;width:754PX;border-top-right-radius:5px;border-bottom-right-radius:5px;}
.content{width:930px;margin:0 auto;margin-top:15px;}
.comboT{padding-top: 15px;font-weight: bold;font-size: 23px;color:#946219;text-align: center;}
.comboT span{margin-left:8px;font-size:16px;color:red;}
.comboC div{float:left;}
.comboWord{width:690px;padding-left:24px;border-left:2px solid #ecd56f;position:relative;text-align:left;font-size:14px;line-height:25px;padding-bottom:20px;}
.comboIco{margin-right:24px;}
.comboBox{margin-top:35px;}
.yuanD{position:absolute;top:0px;left:-9px;}
.du{font-weight:bold;font-size:15px;}
.du span{color:red;}
.moreView{color: #814d00;text-decoration:underline;}
.moreView:hover{color: #FF9800;text-decoration:underline;}
.moreView p{text-align:center;}
.moreView div{margin:12px 0;}

/* PBL */
#container{
	position:relative;
	width:100%;
	margin:0 auto 25px;
	padding-bottom: 10px;
	
}
.grid{
	min-height:100px;
	padding: 10px;
	background:#fff;
	margin:8px;
	font-size:12px;
	float:left;
	box-shadow: 0 0 3px rgba(34,25,25,0.4);
	-moz-box-shadow: 0 0 3px rgba(34,25,25,0.4);
	-webkit-box-shadow: 0 0 3px rgba(34,25,25,0.4);
	
	-webkit-transition: top 1s ease, left 1s ease;
	-moz-transition: top 1s ease, left 1s ease;
	-o-transition: top 1s ease, left 1s ease;
	-ms-transition: top 1s ease, left 1s ease;
}

.gridTittle {
	border-bottom:1px solid #ccc;
	color:#7D7D7D;
	margin:10px 0;
	display:block;
	padding:0 0 5px;
	font-size:15px;
	text-align: left;
}
.grid:hover .gridTittle{color:#bb942f;}
.grid:hover {box-shadow: 0px 0px 5px rgb(119, 119, 119);-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;}
.grid .meta{
	text-align:right;
	color:#777;
	font-style:italic;
}
.grid .imgholder img{
	max-width:100%;
	background:#ccc;
	display:block;
}
.contactClick{padding:15px 0;}
.contact{width:770px;margin:0 auto;}
.add1{text-align:left;font-size:15px;font-weight:bold;line-height:40px;}
.add2{text-align:left;font-size:14px;line-height:20px;}
.contactBtn li{width:188px;float:left;background:#f1d065;margin-top:4px;margin-right:6px;cursor:pointer;text-align: center;padding: 4px 0;font-size: 14px;}
.contactSel{background:#d1a84e!important;}
.mapArea{margin-top:30px;}
.contactLiuyan{margin-top:40px;}

.contactForm input:focus { outline:none; } 
.contactForm textarea:focus { outline:none; } 
.contactForm button:focus { outline:none; } 
.contactForm button:hover {background:#FF9800;text-decoration:underline;} 

.liuyanT{font-size:20px;}
.contactForm input{background-color:#e8e8e8;color:#666666;border:0px;width: 50%;height: 25px;padding: 0px 15px;
margin-top: 14px;}
.contactForm textarea{background-color:#e8e8e8;color:#666666;border:0px;width: 50%;max-width: 50%;max-height: 100px;padding: 15px;margin-top: 14px;}
.contactButton{background:#d1a84e;border:0px;margin-top:20px;width:60px;height:25px;text-align:center;color:#fff;cursor:pointer}
.contactQrcode{width:20%;margin-top:35px;}
.contactQrcode img{width:100%;}
.contactQrcode p{text-align:center;}


.youshiPage .img01{width:100%;height:546px;background: url("../images/15you_01.jpg")/*tpa=http://www.leaderbb.com/templets/default/images/15you_01.jpg*/ no-repeat center bottom;}
.youshiPage .img02{width:100%;height:540px;background: url("../images/15you_02.jpg")/*tpa=http://www.leaderbb.com/templets/default/images/15you_02.jpg*/ no-repeat center bottom;}
.youshiPage .img03{width:100%;height:486px;background: url("../images/15you_03.jpg")/*tpa=http://www.leaderbb.com/templets/default/images/15you_03.jpg*/ no-repeat center bottom;}
.youshiPage .img04{width:100%;height:570px;background: url("../images/15you_04.jpg")/*tpa=http://www.leaderbb.com/templets/default/images/15you_04.jpg*/ no-repeat center bottom;}
.youshiPage .img05{width:100%;height:570px;background: url("../images/15you_05.jpg")/*tpa=http://www.leaderbb.com/templets/default/images/15you_05.jpg*/ no-repeat center bottom;}
.youshiPage .img06{width:100%;height:720px;background: url("../images/15you_06.jpg")/*tpa=http://www.leaderbb.com/templets/default/images/15you_06.jpg*/ no-repeat center bottom;}
.top_banner{position:relative;height:400px;overflow: hidden;}
.top_banner img{position:absolute;top:0;}

.zhiyingPage .img01{width:100%;height:472px;background: url("../images/zhiying_01.jpg")/*tpa=http://www.leaderbb.com/templets/default/images/zhiying_01.jpg*/ no-repeat center bottom;}
.zhiyingPage .img02{width:100%;height:512px;background: url("../images/zhiying_02.jpg")/*tpa=http://www.leaderbb.com/templets/default/images/zhiying_02.jpg*/ no-repeat center bottom;}
.zhiyingPage .img03{width:100%;height:615px;background: url("../images/zhiying_03.jpg")/*tpa=http://www.leaderbb.com/templets/default/images/zhiying_03.jpg*/ no-repeat center bottom;}
.zhiyingPage .img04{width:100%;height:560px;background: url("../images/zhiying_04.jpg")/*tpa=http://www.leaderbb.com/templets/default/images/zhiying_04.jpg*/ no-repeat center bottom;}
.zhiyingPage .img05{width:100%;height:584px;background: url("../images/zhiying_05.jpg")/*tpa=http://www.leaderbb.com/templets/default/images/zhiying_05.jpg*/ no-repeat center bottom;}
.zhiyingPage .img06{width:100%;height:631px;background: url("../images/zhiying_06.jpg")/*tpa=http://www.leaderbb.com/templets/default/images/zhiying_06.jpg*/ no-repeat center bottom;}
.zhiyingPage .img07{width:100%;height:695px;background: url("../images/zhiying_07.jpg")/*tpa=http://www.leaderbb.com/templets/default/images/zhiying_07.jpg*/ no-repeat center bottom;}
.zhiyingPage .img08{width:100%;height:784px;background: url("../images/zhiying_08.jpg")/*tpa=http://www.leaderbb.com/templets/default/images/zhiying_08.jpg*/ no-repeat center bottom;}

.bbyoushiPage .img01{width:100%;height:579px;background: url("../images/bbyoushi_01.jpg")/*tpa=http://www.leaderbb.com/templets/default/images/bbyoushi_01.jpg*/ no-repeat center bottom;}
.bbyoushiPage .img02{width:100%;height:525px;background: url("../images/bbyoushi_02.jpg")/*tpa=http://www.leaderbb.com/templets/default/images/bbyoushi_02.jpg*/ no-repeat center bottom;}
.bbyoushiPage .img03{width:100%;height:558px;background: url("../images/bbyoushi_03.jpg")/*tpa=http://www.leaderbb.com/templets/default/images/bbyoushi_03.jpg*/ no-repeat center bottom;}
.bbyoushiPage .img04{width:100%;height:543px;background: url("../images/bbyoushi_04.jpg")/*tpa=http://www.leaderbb.com/templets/default/images/bbyoushi_04.jpg*/ no-repeat center bottom;}
.bbyoushiPage .img05{width:100%;height:569px;background: url("../images/bbyoushi_05.jpg")/*tpa=http://www.leaderbb.com/templets/default/images/bbyoushi_05.jpg*/ no-repeat center bottom;}
.bbyoushiPage .img06{width:100%;height:540px;background: url("../images/bbyoushi_06.jpg")/*tpa=http://www.leaderbb.com/templets/default/images/bbyoushi_06.jpg*/ no-repeat center bottom;}
.bbyoushiPage .img07{width:100%;height:573px;background: url("../images/bbyoushi_07.jpg")/*tpa=http://www.leaderbb.com/templets/default/images/bbyoushi_07.jpg*/ no-repeat center bottom;}
.bbyoushiPage .img08{width:100%;height:489px;background: url("../images/bbyoushi_08.jpg")/*tpa=http://www.leaderbb.com/templets/default/images/bbyoushi_08.jpg*/ no-repeat center bottom;}
.bbyoushiPage .img09{width:100%;height:501px;background: url("../images/bbyoushi_09.jpg")/*tpa=http://www.leaderbb.com/templets/default/images/bbyoushi_09.jpg*/ no-repeat center bottom;}




.fjfwPage .img01{width:100%;height:554px;background: url("../images/fjfw_01.jpg")/*tpa=http://www.leaderbb.com/templets/default/images/fjfw_01.jpg*/ no-repeat center bottom;}
.fjfwPage .img02{width:100%;height:508px;background: url("../images/fjfw_02.jpg")/*tpa=http://www.leaderbb.com/templets/default/images/fjfw_02.jpg*/ no-repeat center bottom;}
.fjfwPage .img03{width:100%;height:512px;background: url("../images/fjfw_03.jpg")/*tpa=http://www.leaderbb.com/templets/default/images/fjfw_03.jpg*/ no-repeat center bottom;}
.fjfwPage .img04{width:100%;height:512px;background: url("../images/fjfw_04.jpg")/*tpa=http://www.leaderbb.com/templets/default/images/fjfw_04.jpg*/ no-repeat center bottom;}
.fjfwPage .img05{width:100%;height:458px;background: url("../images/fjfw_05.jpg")/*tpa=http://www.leaderbb.com/templets/default/images/fjfw_05.jpg*/ no-repeat center bottom;}
.fjfwPage .img06{width:100%;height:450px;background: url("../images/fjfw_06.jpg")/*tpa=http://www.leaderbb.com/templets/default/images/fjfw_06.jpg*/ no-repeat center bottom;}
.fjfwPage .img07{width:100%;height:490px;background: url("../images/fjfw_07.jpg")/*tpa=http://www.leaderbb.com/templets/default/images/fjfw_07.jpg*/ no-repeat center bottom;}


.sevenPage .img01{width:100%;height:348px;background: url("../images/seven_01.jpg")/*tpa=http://www.leaderbb.com/templets/default/images/seven_01.jpg*/ no-repeat center bottom;}
.sevenPage .img02{width:100%;height:316px;background: url("../images/seven_02.jpg")/*tpa=http://www.leaderbb.com/templets/default/images/seven_02.jpg*/ no-repeat center bottom;}
.sevenPage .img03{width:100%;height:332px;background: url("../images/seven_03.jpg")/*tpa=http://www.leaderbb.com/templets/default/images/seven_03.jpg*/ no-repeat center bottom;}
.sevenPage .img04{width:100%;height:304px;background: url("../images/seven_04.jpg")/*tpa=http://www.leaderbb.com/templets/default/images/seven_04.jpg*/ no-repeat center bottom;}
.sevenPage .img05{width:100%;height:316px;background: url("../images/seven_05.jpg")/*tpa=http://www.leaderbb.com/templets/default/images/seven_05.jpg*/ no-repeat center bottom;}
.sevenPage .img06{width:100%;height:334px;background: url("../images/seven_06.jpg")/*tpa=http://www.leaderbb.com/templets/default/images/seven_06.jpg*/ no-repeat center bottom;}
.sevenPage .img07{width:100%;height:310px;background: url("../images/seven_07.jpg")/*tpa=http://www.leaderbb.com/templets/default/images/seven_07.jpg*/ no-repeat center bottom;}
.sevenPage .img08{width:100%;height:314px;background: url("../images/seven_08.jpg")/*tpa=http://www.leaderbb.com/templets/default/images/seven_08.jpg*/ no-repeat center bottom;}
.sevenPage .img09{width:100%;height:328px;background: url("../images/seven_09.jpg")/*tpa=http://www.leaderbb.com/templets/default/images/seven_09.jpg*/ no-repeat center bottom;}
.sevenPage .img10{width:100%;height:332px;background: url("../images/seven_10.jpg")/*tpa=http://www.leaderbb.com/templets/default/images/seven_10.jpg*/ no-repeat center bottom;}
.sevenPage .img11{width:100%;height:320px;background: url("../images/seven_11.jpg")/*tpa=http://www.leaderbb.com/templets/default/images/seven_11.jpg*/ no-repeat center bottom;}
.sevenPage .img12{width:100%;height:324px;background: url("../images/seven_12.jpg")/*tpa=http://www.leaderbb.com/templets/default/images/seven_12.jpg*/ no-repeat center bottom;position:relative;}
.sevenPage .img13{width:100%;height:334px;background: url("../images/seven_13.jpg")/*tpa=http://www.leaderbb.com/templets/default/images/seven_13.jpg*/ no-repeat center bottom;}
.sevenPage .img14{width:100%;height:336px;background: url("../images/seven_14.jpg")/*tpa=http://www.leaderbb.com/templets/default/images/seven_14.jpg*/ no-repeat center bottom;}
.sevenPage .img15{width:100%;height:362px;background: url("../images/seven_15.jpg")/*tpa=http://www.leaderbb.com/templets/default/images/seven_15.jpg*/ no-repeat center bottom;}
.sevenPage .img16{width:100%;height:324px;background: url("../images/seven_16.jpg")/*tpa=http://www.leaderbb.com/templets/default/images/seven_16.jpg*/ no-repeat center bottom;}

.jzhj_more{width: 145px;height: 33px;display: block;margin: 0 auto;bottom: 50px;position: absolute;}




.rjxgPage .img01{width:100%;height:417px;background: url("../images/rjxg_01.jpg")/*tpa=http://www.leaderbb.com/templets/default/images/rjxg_01.jpg*/ no-repeat center bottom;}
.rjxgPage .img02{width:100%;height:411px;background: url("../images/rjxg_02.jpg")/*tpa=http://www.leaderbb.com/templets/default/images/rjxg_02.jpg*/ no-repeat center bottom;}
.rjxgPage .img03{width:100%;height:428px;background: url("../images/rjxg_03.jpg")/*tpa=http://www.leaderbb.com/templets/default/images/rjxg_03.jpg*/ no-repeat center bottom;}
.rjxgPage .img04{width:100%;height:435px;background: url("../images/rjxg_04.jpg")/*tpa=http://www.leaderbb.com/templets/default/images/rjxg_04.jpg*/ no-repeat center bottom;}
.rjxgPage .img05{width:100%;height:540px;background: url("../images/rjxg_05.jpg")/*tpa=http://www.leaderbb.com/templets/default/images/rjxg_05.jpg*/ no-repeat center bottom;}


.qzxgPage .img01{width:100%;height:411px;background: url("../images/qzxg_01.jpg")/*tpa=http://www.leaderbb.com/templets/default/images/qzxg_01.jpg*/ no-repeat center bottom;}
.qzxgPage .img02{width:100%;height:417px;background: url("../images/qzxg_02.jpg")/*tpa=http://www.leaderbb.com/templets/default/images/qzxg_02.jpg*/ no-repeat center bottom;}
.qzxgPage .img03{width:100%;height:423px;background: url("../images/qzxg_03.jpg")/*tpa=http://www.leaderbb.com/templets/default/images/qzxg_03.jpg*/ no-repeat center bottom;}
.qzxgPage .img04{width:100%;height:417px;background: url("../images/qzxg_04.jpg")/*tpa=http://www.leaderbb.com/templets/default/images/qzxg_04.jpg*/ no-repeat center bottom;}
.qzxgPage .img05{width:100%;height:426px;background: url("../images/qzxg_05.jpg")/*tpa=http://www.leaderbb.com/templets/default/images/qzxg_05.jpg*/ no-repeat center bottom;}


.lcglPage .img01{width:100%;height:587px;background: url("../images/lcgl_01.jpg")/*tpa=http://www.leaderbb.com/templets/default/images/lcgl_01.jpg*/ no-repeat center bottom;}
.lcglPage .img02{width:100%;height:618px;background: url("../images/lcgl_02.jpg")/*tpa=http://www.leaderbb.com/templets/default/images/lcgl_02.jpg*/ no-repeat center bottom;}
.lcglPage .img03{width:100%;height:593px;background: url("../images/lcgl_03.jpg")/*tpa=http://www.leaderbb.com/templets/default/images/lcgl_03.jpg*/ no-repeat center bottom;}
.lcglPage .img04{width:100%;height:617px;background: url("../images/lcgl_04.jpg")/*tpa=http://www.leaderbb.com/templets/default/images/lcgl_04.jpg*/ no-repeat center bottom;}
.lcglPage .img05{width:100%;height:623px;background: url("../images/lcgl_05.jpg")/*tpa=http://www.leaderbb.com/templets/default/images/lcgl_05.jpg*/ no-repeat center bottom;}
.lcglPage .img06{width:100%;height:552px;background: url("../images/lcgl_06.jpg")/*tpa=http://www.leaderbb.com/templets/default/images/lcgl_06.jpg*/ no-repeat center bottom;}
.lcglPage .img07{width:100%;height:569px;background: url("../images/lcgl_07.jpg")/*tpa=http://www.leaderbb.com/templets/default/images/lcgl_07.jpg*/ no-repeat center bottom;}



.newsInfo{width:140px;color:#fff;background:#a97657;text-align:right;}
.newsInfo div{width:140px;height: 10px;}
.newsInfo p{padding-right: 26px;}
.date_d{font-size:58px;line-height:58px;padding-top:25px;padding-bottom:5px;}
.date_m{font-size:13px;line-height:22px;}
.date_l{font-size:13px;line-height:22px;padding-bottom:25px;}
.date_line{width: 10px;float: right;margin-right: 26px;border-bottom: 1px solid #fff;height:5px;}
.newsList li{margin-top:20px;width:930px;height:189px;}
.newsContent{background:#f6f4f5;width:690px;height:129px;padding: 30px 50px;}
.newsList a:hover .newsMore{background:#9b7b64;color:#fff!important;}
.newsT{font-size:20px;}
.newsD{font-size:14px;color:#696768;margin-top:12px;margin-bottom:12px;}
.viewN{color:#b4b2b3;line-height: 33px;}
.newsMore{border:1px solid #9b7b64;padding:5px 30px;color:#9b7b64!important;}

/* Q&A */
.questionPos{padding-bottom:100px;padding-top: 35px;}
.questionLi1{background: url("../images/qzxg.png")/*tpa=http://www.leaderbb.com/templets/default/images/qzxg.png*/ no-repeat;width: 60%;;height:200px;margin:0 auto;padding-left: 143px;padding-top: 68px;}
.questionLi2{background: url("../images/rjxg.png")/*tpa=http://www.leaderbb.com/templets/default/images/rjxg.png*/ no-repeat;width: 60%;;height:200px;margin:0 auto;padding-left: 143px;padding-top: 68px;}
.questionLi3{background: url("../images/szxg.png")/*tpa=http://www.leaderbb.com/templets/default/images/szxg.png*/ no-repeat;width: 60%;;height:200px;margin:0 auto;padding-left: 143px;padding-top: 68px;}
.questionLi1_1{background: url("../images/white_arrow.png")/*tpa=http://www.leaderbb.com/templets/default/images/white_arrow.png*/ 0 5px no-repeat;margin-bottom: 10px;font-size: 18px;font-weight: bold;}
.questionListA{float:left;}
.questionListMore{float:right;border:3px solid #b4b4b2;}
.questionListMore a{background: #d5b265;height: 29px;width: 110px;display: block;line-height:29px;font-size:15px;text-align:center;color:#fff;}
.questionListMore a:hover{background: #814d00;color:#fff!important;}
.questionLi1_2{background: url("../images/black_arrow.png")/*tpa=http://www.leaderbb.com/templets/default/images/black_arrow.png*/ 0 5px no-repeat;font-size: 15px;font-weight: bold;}
.questionLi1 li{padding-left:35px;line-height:35px;}
.questionLi2 li{padding-left:35px;line-height:35px;}
.questionLi3 li{padding-left:35px;line-height:35px;}
.questionLi1_2 a{color: #666666;}
.questionLi1_1 a:hover{color:#d5b265;}
.questionLi1_2 a:hover{color:#d5b265;}

.questionBG{background:#f5f5f5;}
.answerBox{padding:60px 100px;font-size:15px;}
.answerBoxQ{float:left;width: 103%}
.answerBoxQPos{background:#fff;border-radius:10px;width: 50%;padding:15px 30px;box-shadow: 5px 5px 6px rgb(167, 167, 167);margin-left: 33px;margin-top: 16px;line-height: 25px;}
.answerBoxQArrow{position: relative;}
.answerBoxQArrow img{position: absolute;margin-top: 25px;}
.answerBoxA{float:right;    width: 103%;margin-top: 35px;}
.answerBoxAPos{background:#fff;border-radius:10px;width: 50%;padding:15px 30px;    box-shadow: -5px 5px 6px rgb(167, 167, 167);margin-left: 33px;margin-top: 30px;line-height: 25px;}
.answerBoxAPic{margin-left: 33px;}
.answerBoxAArrow{position: relative;}
.answerBoxAArrow img{position: absolute;margin-top: 40px;right: 142px;}
.askForm{width:89%;border:1px solid #CECECE;border-radius:10px;margin-top:80px;    padding: 15px 40px;}
.askFormT{text-align:center;font-size:20px;font-weight:bold;margin-bottom:10px;}
.askForm textarea{width: 95%;max-width: 95%;max-height:130px;padding:15px;border-radius: 10px;background-color: #e8e8e8;}
.askFormRow p{width:50%;float:left;margin-top:15px;}
.askFormRow p input{width:87%;background-color: #e8e8e8;border-radius: 5px;padding:0 15px;height: 25px;border:1px solid #A7A7A7;}
.askFormBtn{text-align:center;margin-top: 10px;}
.askForm textarea:focus{outline:none;}
.askForm input:focus{outline:none;}
.askForm button:focus{outline:none;}
.askForm button:hover {
    background: #FF9800;
    text-decoration: underline;
}


.QAlist{margin-top:12px;}
.QAlist a:hover .Q2T{color:#FF9800;text-decoration:underline;}
.Q2T{width:873px;height:40px;float:left;line-height:40px;padding-left:12px;font-size:15px;color:#9b7b64;}

.QQ2T1{background:#f6f4f5;}
.QQ2T2{background:#fff;}
.QQ21{background:url("../images/q2.png")/*tpa=http://www.leaderbb.com/templets/default/images/q2.png*/ #f6f4f5 no-repeat;background-position: center;background-size:20px 20px;width:40px;height:40px;float:left;margin-right:5px;}
.QQ22{background:url("../images/q2.png")/*tpa=http://www.leaderbb.com/templets/default/images/q2.png*/ #fff no-repeat;background-position: center;background-size:20px 20px;width:40px;height:40px;float:left;margin-right:5px;}




.comboPic{float:left;width:400px;}
.comboListC{float:left;width:526px;}
.comboList{border-bottom:1px dashed #8b6a57;padding-bottom:20px;margin-top:20px;}
.comboListC .p1{text-align:center;color:#8d590e;font-size:28px;margin-top:20px;margin-bottom:15px;}
.comboListC .p2{text-align:center;color:#8d590e;font-size:15px;margin-top:5px;}
.comboListC .p3{font-size:14px;padding:0 18px;margin-top:25px;margin-bottom:10px;}
.comboListC .p4{text-align:center;font-size:18px;background:#c58827;width:150px;height:40px;margin:0 auto;line-height:40px;color:#fff;margin-top:12px;    border-radius: 3px;}
.comboPic{border: 2px solid #e9af4b;border-radius: 5px;}
.comboPic img{width:100%;}
.comboList:hover .p4{background:url("../images/ljxq.png")/*tpa=http://www.leaderbb.com/templets/default/images/ljxq.png*/ no-repeat;}
.contrastList ul{margin-top:8px;}
.contrastList{width:900px;margin:0 auto;padding:10px 0;}
.contrastList1{width:214px;float:left;}
.contrastList2{width:290px;float:left;}
.contrastList3{width:290px;float:left;}
.contrastListT li{background:#eac85a;color:#5b3f2a;text-align:center;font-size:18px;font-weight:bold;padding:8px 15px;margin-right:8px;}
.contrastListC li{background:#fffaf6;color:#532406;font-size:15px;padding:8px 15px;margin-right:8px;line-height: 24px;height: 75px;}
.contrastList1{font-weight:bold!important;text-align:center;}
.contrastList3{margin-right:0!important;}
.fjysBox{width:850px;margin:0 auto;padding-bottom:30px;}
.fjysBoxT{font-size:35px;line-height:35px;color:#8b6a57;text-align:center;margin-top:35px;}
.fjysBoxTE{font-size:14px;line-height:35px;color:#8b6a57;text-align:center;margin-bottom:20px;}
.fjysBox ul{margin-top:35px;margin-bottom:35px;}
.fjysBox ul li{color:#8b6a57;font-size:16px;line-height:35px;}
.fjysBoxB{color:#8b6a57;font-size:20px;line-height:35px;}
.jgflD{color:#8b6a57;font-size:16px;line-height:35px;}
.jgflP{width:240px;float:left;margin-top:30px;}
.jgflC{width:570px;float:left;margin-top:30px;padding:8px 20px 0 20px;}
.jgflBox{width:850px;margin:0 auto;padding-bottom:30px;}
.jgflBox ul{margin-bottom:20px;}
.jgflBox ul li{color:#8b6a57;font-size:14px;line-height:30px;}
.fwVT{text-align:center;font-size:24px;line-height:24px;color:#8b6a57;padding:30px 0;}
.fwVP{margin:30px 0;}
.fwC{font-size: 15px;line-height: 25px;}
.fwCL{margin-top:28px;}
.fwCL p{font-size:15px;line-height:30px;}
.fwSmall{font-size:13px;margin:20px 0 8px 0;text-align:center;}
.fwPList img{margin-top:8px;}
.aboutUs{font-size:25px;text-align:center;color: #8b6a57;line-height:25px;margin:70px 0 10px 0;}
.aboutUsC{font-size:15px;line-height:25px;padding-top:10px;}
.aboutUsImg{margin:40px 0;}
.fjzsBox{width:850px;margin:0 auto;padding-bottom:30px;}
.fjzsSel li{cursor: pointer;margin-top:20px;float:left;background:url("../images/roomBtn.png")/*tpa=http://www.leaderbb.com/templets/default/images/roomBtn.png*/ no-repeat;width:131px;height:51px;font-size:16px;text-align:center;line-height:40px;margin-right:12px;}
.roomSel{background:url("../images/roomBtnA.png")/*tpa=http://www.leaderbb.com/templets/default/images/roomBtnA.png*/ no-repeat !important;}
.fjzsSel li a{width:131px;height:51px;display:block;}
.roomBoxV img{margin-bottom:18px;}
.catalogN a{color:#fff;}
/*pages*/
.pagination-wrapper{margin: 20px 0;}
.totoPage{height: 34px;text-align: center;}
.totoPage li {display: inline-block;height: 34px;margin-right: 5px;}
.totoPage li a{display: block;height: 32px;line-height: 32px;padding: 0 12px;font-size: 12px;border: 1px solid #dddddd;color: #555555;text-decoration: none;}
.totoPage li a:hover{background:#f5f5f5;color:#8b6a57;}
.totoPage li.thisclass {background:#8b6a57;color: #fff;height: 32px;line-height: 32px;padding: 0 12px;border: 1px solid #dddddd;}
.totoPage li.thisclass a,.totoPage li.thisclass a:hover{background: transparent;border-color: #09f;color: #fff;cursor: default;}
.preAndnext{margin-top:50px;}
.preAndnext p{margin-top:10px;font-size:14px;color:#814d00;}
.preAndnext p a{font-size:14px;color:#814d00;}
.preAndnext p a:hover{color: #FF9800;text-decoration: underline;}
/* 评论 */
.lineMorePart{border-bottom:2px solid #666666;margin: 40px 0 20px 0;padding-bottom:5px;}
.morePartT{font-size:18px;background:url("../images/morePart.png")/*tpa=http://www.leaderbb.com/templets/default/images/morePart.png*/ no-repeat;width: 120px;height: 33px;display: block;line-height: 30px;text-align: center;color: #B52115;}
.morePartB{float:right;font-size: 14px;margin-top: 10px;margin-right: 25px;}
.morePartB a{color:#666666;}
.userImgBox{width:65px;height:65px;position:absolute;margin-top: 2%;}
.userImgBox img{width:100%;height:100%;border-radius: 50%;}
.lineMorePinglun{position:relative;}
.userSayBox{box-shadow: 0px 0px 8px rgb(130, 130, 130);width: 70%;margin-left: 12%;padding: 8px 8px 8px 13%;line-height:18px;}
.lineMorePinglun li{width:31%;float:left;margin-left: 2%;}
.userSayBoxP1{font-size:15px;}
.userSayBoxP2{font-size:12px;color:#666666;}
.userSayBoxP3{font-size:12px;color:#666666;}

.indexTOpolicy{width:571px;height:330px;display:block;}
.indexTOpolicy p{padding: 0 12px;} 
.indexTOpolicy p span{color:#bb942f;}

.run{width:740px;height:184px;bottom:277px;resize:none;position: absolute;border:none;background:#f9ebe8;cursor:default;font-size: 16px;line-height: 33px;}
.run:focus {outline: none;}



/* 费用评估 */
#self-intro{width:960px;height:286px;position:fixed;_position:absolute;left:-920px;bottom:90px;}
#hb{height:286px;width:40px;position:absolute;top:0;right:0;cursor:pointer; background:url("../images/fypg.gif")/*tpa=http://www.leaderbb.com/templets/default/images/fypg.gif*/ 0 0px no-repeat;/*IE浏览器只识别有背景图片或背景色的绝对定位的区块*/}
#self-intro .close{margin-top: 5px;margin-right: 10px;width:40px;height:40px;background:url("../images/closed.png")/*tpa=http://www.leaderbb.com/templets/default/images/closed.png*/ no-repeat;position:absolute;top:0;right:0;cursor:pointer;display:none;}

#self-intro form{width:960px;height:286px;background:url("../images/fypg.png")/*tpa=http://www.leaderbb.com/templets/default/images/fypg.png*/ no-repeat;}
.pgRow1{padding-top: 105px;margin-left:125px;}
.pgRow1 input{margin-right:69px;width: 168px;border-radius: 5px;padding: 0 15px;height: 23px;border: 1px solid #A7A7A7;outline: none;color: #A7A7A7;}
.pgRow2{margin-top: 70px;margin-left:125px;}
.pgRow2 select{margin-right:69px;width: 200px;border-radius: 5px;padding: 0 15px;height: 25px;border: 1px solid #A7A7A7;outline: none;color: #A7A7A7;}
.tjpgB{width: 31px;padding-left:6px;height: 172px;font-size: 14px;cursor:pointer;line-height: 20px;word-wrap: break-word;letter-spacing: 5px;position:absolute;top: 65px;right:17px;display:none;background:url("../images/pgBtn.png")/*tpa=http://www.leaderbb.com/templets/default/images/pgBtn.png*/ no-repeat;border:none;color:#fff;}
.tjpgB:focus{outline: none;}
.tjpgB:hover{background-position:-33px 0px;color:#000;}

/* 万年历 */
.date_selector, .date_selector *{width: auto;height: auto;border: none;background: none;margin: 0;padding: 0;text-align: left;text-decoration: none;}

.date_selector{background:#fbfbfb;border: 1px solid #ccc;padding: 10px;margin:0;margin-top:-1px;position: absolute;z-index:100000;display:none;border-radius: 3px;box-shadow: 0 0 5px #aaa;box-shadow:0 2px 2px #ccc; width:178px;left: 670px;}

.date_selector_ieframe{position: absolute;z-index: 99999;display: none;}

.date_selector .nav{width: 14em;}

.date_selector .nav p{clear: none;}

.date_selector .month_nav, .date_selector .year_nav{margin: 0 0 3px 0;padding: 0;display: block;position: relative;text-align: center;}

.date_selector .month_nav{float: left;width: 55%;}

.date_selector .year_nav{float: right;width: 42%;margin-right: -8px;}

.date_selector .month_name, .date_selector .year_name{font-weight: bold;line-height: 20px;}

.date_selector .button{display: block;position: absolute;top: 0;width:18px;height:18px;line-height:16px;font-weight:bold;color:#5985c7;text-align: center;font-size:12px;overflow:hidden;border: 1px solid #ccc;border-radius:2px;}

.date_selector .button:hover, .date_selector .button.hover{background:#5985c7;color: #fff;cursor: pointer;border-color:#3a930d;}

.date_selector .prev{left: 0;}

.date_selector .next{right: 0;}

.date_selector table{border-spacing: 0;border-collapse: collapse;clear: both;margin: 0; width:178px;}

.date_selector th, .date_selector td{width: 2.5em;height: 2em;padding: 0 !important;text-align: center !important;color: #666;font-weight: normal;}

.date_selector th{font-size: 12px;}

.date_selector td{border:1px solid #f1f1f1;line-height: 2em;text-align: center;white-space: nowrap;color:#5985c7;background: #fff;}

.date_selector td.today{background: #eee;}

.date_selector td.unselected_month{color: #ccc;}

.date_selector td.selectable_day{cursor: pointer;}

.date_selector td.selected{background:#2b579a;color: #fff;font-weight: bold;}

.date_selector td.selectable_day:hover, .date_selector td.selectable_day.hover{background:#5985c7;color: #fff;}


@media screen and (max-width: 1190px) {
    body {
        width:1190px;
    }
}